.img-responsive{
	max-height: 300px;
	margin:auto;
	margin-top:50px;
}
.name{
	font-size: 20px;
	color: red;
	text-align: center;
	margin:auto;
	margin-top:50px;
	margin-bottom: 50px;
}
.upcoming{
	font-size: 18px;
	color: red;
	text-align: center;
}
.roster{
	font-size: 18px;
	color: red;
	text-align: center;
}
.table{
	font-size: 10px
}